/*fonts*/
@font-face {
    font-family: montserrat;
    src: url(assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}
.h1{
    font-family: 'montserrat';
    text-transform: uppercase;
    font-size: 32px;
}

/*body*/

body{
max-width: 1280px;
margin: 0 auto;
padding: 32px;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
   width: 24px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

/*grid*/
.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 64px;
    padding: 16px 64px 16px 64px;
}
.main-content img{
    width: 100%;
    border-radius: 16px;
}
.details{
    font-family: 'montserrat';
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}
.price{
    font-weight: bold;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#212429;
    color: white;
    padding: 32px;
}
.container-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon{
    background-color: white;
    padding: 16px;
    border-radius: 100%;
    max-width: 32px;
    margin-right: 16px;;
    
}
.icon img{
    width: 24px;
}